.title {
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.table-controller-wrapper {
    display: flex;
    justify-content: space-between;
}

.table-controller-wrapper-status {
    display: flex;
}