body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1600px;
  margin: auto;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.hidden {
  opacity: 0;
  display: none !important;
}